/* увага до деталей */



.detels-intem{ 
    color: var( --link-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    }
    .detels-lorem{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var( --text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    }
    .svg-detels{
        fill:  var( --black-color);
     
      height: 120px;
     
      left: 515px;
      top: 774px;
    
    background: var(--bacround-button);
    border-radius: 4px;
    
    @include centeredFlex ();
    margin-bottom: 30px;
    
    }
   
    .details-link{
     
        @media (min-width: $tablet) {
          
          display: flex;
          flex-wrap: wrap;
          margin: -15px;
    
          
        }
        @media (min-width: $desktop){
          justify-content: space-between;
        }
    
     
        
      }
    
    .features{
      // width: 100%;

     
    @media (min-width: $tablet) {
      width: calc((100% - 4 * 15px) /2) ;
      margin: 15px;
      }

      @media (min-width: $desktop) {
        width: 270px;
        
      }
     
    }