img{
   
}
ul{
    
    margin: 0;

}
.contairn{

}

.img{
   
height: 294px;
left: 1015px;
top: 1061px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
 ul{ 
      list-style: none;}
    
.ul{ text-decoration: none;
}
.title a{text-decoration: none;
}
a{
    text-decoration: none;
}

 .nav-list .link-item .curent{
    color: #2196F3;
}
body{
   
    background-color: #ffffff;
    font-family: roboto, sans-serif;
}
ul{
    padding: 0;
}
li{
    text-decoration: none;
    list-style: none;
}
